<title>Create Hosts</title>
        	 	<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Create a new character</h2>
<form action="" method="post" role="form">
    {{ form.csrf }}
<div class="form-group">
<label for="race">Race:</label>
<input type="text" class="form-control" id="race" name="race">

<button name="submit_button" type="submit" value="getsubraces" class="btn btn-success">Get Subraces</button>
<select name="option" value="getsubracesdd" class='dropdown'>Get Subraces
    {% for o in option_list %}
    <option name="{{ o }}" SELECTED>{{ o }}   </option>
{% endfor %}
</select>
 </div><div class="form-group">
<label for="subrace">Subrace:</label>
<input type="text" class="form-control" id="subrace" name="subrace">
 
</div>
<button name="submit_button" type="submit" value="createchar" class="btn btn-success">Create Character</button>
</form>{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
 
{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info">
                {{ message[1] }}</div>
{% endif %}
 
{% if "Error" in message[1]: %}
<div class="alert alert-warning">
                {{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
 
</div>